# Intro to Regex

In [1]:
import re 
import pandas as pd

In [2]:
print("testing testing \ntis on new line")

testing testing
tis on new line

In [3]:
# Try for 0 or 1 
trial = "Mega world"

In [4]:
veggie_request = 'I would like to some vegetables, vitamins, and water'

In [5]:
# the variable, object, replace (word_to_replace, "replacement")
veggie_request.replace('vegetables', 'Meat')

'I would like to some Meat, vitamins, and water'

We see heere the string method replacement works perfectly when we know exactly what we are looking for and easier to apply to finite numbers

In [6]:
text_with_whitespace = 'This is text.          White space go uwu'

In [7]:
cleaned_text = text_with_whitespace.strip()
cleaned_text

'This is text.          White space go uwu'

In [8]:
re.sub('\s+',' ',cleaned_text)

'This is text. White space go uwu'

# Implementation 2

In [9]:
re.sub('^\s+ | $\s',' ', cleaned_text)

'This is text.          White space go uwu'

# Second Hour

In [10]:
# Find all occurances of a pattern

# Example: Find all occurances of a pattern 

text = 'The prices are $45 abd $67'

# The syntax for finall would be (pattern, string)
# .findall returns a list
# \ allows to treat commands as strings
prices = re.findall('\$\d+', text)

prices

['$45', '$67']

In [11]:
data = {
    'text' : ['apples 100 500', 'banana 200', 'cherry 150']
}

df = pd.DataFrame(data)

df['numbers'] = df['text'].str.extract('(\d+)')

df['numbers']

0    100
1    200
2    150
Name: numbers, dtype: object

In [12]:
for i in range(len(df)):
    print(re.findall('\d+', df.loc[i, 'text']))

['100', '500']
['200']
['150']

# Basic Matching

In [13]:
message = 'The dates are 12-30-2022, 23-10-2023, and 2024/02/23'

In [14]:
dates = re.findall('\d+-\d{2}-\d+', message)
dates

['12-30-2022', '23-10-2023']

In [15]:
dates = re.findall('\d+[-\/]\d+[-\/]\d+', message)
dates

['12-30-2022', '23-10-2023', '2024/02/23']

In [16]:
import requests 

# url = 'https://archive.ics.uci.edu/dataset/109/wine'

# response = requests.get(url)

# df = pd.read_csv(url)

In [17]:
df

             text numbers
0  apples 100 500     100
1      banana 200     200
2      cherry 150     150

In [18]:
from bs4 import BeautifulSoup

In [19]:
url = 'https://archive.ics.uci.edu/dataset/109/wine'

response = requests.get(url)

# check if req is successful 
if response.status_code == 200:
    soup = BeautifulSoup(response.content, 'html.parser')
    
    table = soup.find('table', class_ = 'my-4 table w-full')
    
if table:
    df_=pd.read_html(str(table))[0]
    print(df_)
else:
    print('table not found')

          Variable Name     Role         Type  Demographic  Description  \
0                 class   Target  Categorical          NaN          NaN
1               Alcohol  Feature   Continuous          NaN          NaN
2             Malicacid  Feature   Continuous          NaN          NaN
3                   Ash  Feature   Continuous          NaN          NaN
4     Alcalinity_of_ash  Feature   Continuous          NaN          NaN
5             Magnesium  Feature      Integer          NaN          NaN
6         Total_phenols  Feature   Continuous          NaN          NaN
7            Flavanoids  Feature   Continuous          NaN          NaN
8  Nonflavanoid_phenols  Feature   Continuous          NaN          NaN
9       Proanthocyanins  Feature   Continuous          NaN          NaN

   Units Missing Values
0    NaN             no
1    NaN             no
2    NaN             no
3    NaN             no
4    NaN             no
5    NaN             no
6    NaN             no
7    NaN             no
8    NaN             no
9    NaN             no

In [20]:
df_['Variable Name']

0                   class
1                 Alcohol
2               Malicacid
3                     Ash
4       Alcalinity_of_ash
5               Magnesium
6           Total_phenols
7              Flavanoids
8    Nonflavanoid_phenols
9         Proanthocyanins
Name: Variable Name, dtype: object

In [21]:
import zipfile
from io import BytesIO

# URL of the SMS Spam Collection dataset
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/00228/smsspamcollection.zip"

# Fetch the ZIP file using requests
response = requests.get(url)

# Open the received content as a ZIP file
with zipfile.ZipFile(BytesIO(response.content)) as z:
    with z.open('SMSSpamCollection') as f:
        # Read the SMS Spam Collection file into pandas DataFrame
        sms_df = pd.read_csv(f, sep='\t', names=['Label', 'Message'])

# Display the first few rows of the dataset
print(sms_df.head())

# Optionally, save the dataset to a CSV file
sms_df.to_csv("sms_spam_collection.csv", index=False)

  Label                                            Message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [22]:
spam = sms_df[sms_df.Label == 'spam']

In [23]:
sms_df['Number'] = None
sms_df

     Label                                            Message Number
0      ham  Go until jurong point, crazy.. Available only ...   None
1      ham                      Ok lar... Joking wif u oni...   None
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...   None
3      ham  U dun say so early hor... U c already then say...   None
4      ham  Nah I don't think he goes to usf, he lives aro...   None
...    ...                                                ...    ...
5567  spam  This is the 2nd time we have tried 2 contact u...   None
5568   ham               Will ü b going to esplanade fr home?   None
5569   ham  Pity, * was in mood for that. So...any other s...   None
5570   ham  The guy did some bitching but I acted like i'd...   None
5571   ham                         Rofl. Its true to its name   None

[5572 rows x 3 columns]

In [24]:
spam

     Label                                            Message
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
5     spam  FreeMsg Hey there darling it's been 3 week's n...
8     spam  WINNER!! As a valued network customer you have...
9     spam  Had your mobile 11 months or more? U R entitle...
11    spam  SIX chances to win CASH! From 100 to 20,000 po...
...    ...                                                ...
5537  spam  Want explicit SEX in 30 secs? Ring 02073162414...
5540  spam  ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...
5547  spam  Had your contract mobile 11 Mnths? Latest Moto...
5566  spam  REMINDER FROM O2: To get 2.50 pounds free call...
5567  spam  This is the 2nd time we have tried 2 contact u...

[747 rows x 2 columns]

In [26]:
# re.findall('\d{9}', spam['Message'])

In [27]:
spam['Number'] = spam['Message'].str.extract('(\d{5,})')

C:\Users\zacha\AppData\Local\Temp\ipykernel_25220\2185341392.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  spam['Number'] = spam['Message'].str.extract('(\d{5,})')

In [28]:
email_pattern = '([A-Za-z0-9]+[.-_]*[A-Za-z0-9]+@[A-Za-z0-9-]+\.[A-Z|a-z]{2,}+)'

In [29]:
spam['Message'].str.extractall(email_pattern)

                                        0
     match
1613 0               info@ringtoneking.co
2313 0              tddnewsletter@emc1.co
2548 0                   info@txt82228.co
3501 0                 Dorothy@kiefer.com
4906 0                 ticket@kiosk.Valid
5102 0      customersqueries@netvision.uk

In [30]:
# extracts all emails from spam 
spam['Email'] = spam['Message'].str.extractall(email_pattern).reset_index(drop=True)[0]

C:\Users\zacha\AppData\Local\Temp\ipykernel_25220\618215831.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  spam['Email'] = spam['Message'].str.extractall(email_pattern).reset_index(drop=True)[0]

In [31]:
# extracts websites
spam['Message'].str.extractall('([A-Za-z0-9]+[.-_]*[A-Za-z0-9]+@[A-Za-z0-9-]+\.[A-Z|a-z]{2,}+)')

                                        0
     match
1613 0               info@ringtoneking.co
2313 0              tddnewsletter@emc1.co
2548 0                   info@txt82228.co
3501 0                 Dorothy@kiefer.com
4906 0                 ticket@kiosk.Valid
5102 0      customersqueries@netvision.uk

In [32]:
spam['Message'].sample(10)

2669    Wanna get laid 2nite? Want real Dogging locati...
3864    Oh my god! I've found your number again! I'm s...
1350    FREE2DAY sexy St George's Day pic of Jordan!Tx...
1993    Free tones Hope you enjoyed your new content. ...
4249    accordingly. I repeat, just text the word ok o...
264     Hey I am really horny want to chat or see me n...
784     You have an important customer service announc...
1893    CALL 09090900040 & LISTEN TO EXTREME DIRTY LIV...
869     Hello. We need some posh birds and chaps to us...
4154    URGENT!! Your 4* Costa Del Sol Holiday or £500...
Name: Message, dtype: object

In [33]:
spam.sample()

     Label                                            Message Number Email
3631  spam  Get the official ENGLAND poly ringtone or colo...  84199   NaN

In [34]:
spam.sample()

     Label                                            Message Number Email
2818  spam  Gr8 Poly tones 4 ALL mobs direct 2u rply with ...    NaN   NaN

In [35]:
wesbite_pattern = '([w]{3}\.[A-Za-z0-9-]+\.[A-Z|a-z]{2,})'

In [36]:
spam['Message'].str.extractall(wesbite_pattern)

                              0
     match
12   0             www.dbuk.net
164  0               www.SMS.ac
191  0      www.areyouunique.co
225  0             www.4-tc.biz
250  0             www.Ldew.com
...                         ...
5294 0             www.Ldew.com
5378 0        www.gr8prizes.com
5456 0      www.shortbreaks.org
5462 0              www.gamb.tv
5497 0            www.comuk.net

[96 rows x 1 columns]

In [37]:
spam.sample(10)

,Label,Message,Number,Email
4169,spam,Congrats! Nokia 3650 video camera phone is you...,09066382422,NaN
4991,spam,Phony £350 award - Todays Voda numbers ending ...,08712300220,NaN
5567,spam,This is the 2nd time we have tried 2 contact u...,087187272008,NaN
2312,spam,Congratulations! Thanks to a good friend U hav...,08718726971,NaN
2113,spam,You are a winner you have been specially selec...,087123002209,NaN
1227,spam,Reply with your name and address and YOU WILL ...,08700435505150,NaN
4258,spam,important information 4 orange user . today is...,NaN,NaN
4896,spam,Want the latest Video handset? 750 anytime any...,08000930705,NaN
881,spam,Reminder: You have not downloaded the content ...,NaN,NaN
3229,spam,"SIX chances to win CASH! From 100 to 20,000 po...",87575,NaN

In [53]:
money_pattern = '(£[0-9]*.[0-9]*\d)'

In [54]:
spam['Message'].str.extractall(money_pattern)

                   0
     match
5    0         £1.50
8    0          £900
12   0      £100,000
65   0         £1500
67   0         £1000
...              ...
5492 0         £4.50
5524 0         £3.99
5540 0        £250 3
     1          £800
5567 0          £750

[299 rows x 1 columns]

In [40]:
spam.head()

,Label,Message,Number,Email
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,87121,info@txt82228.co
5,spam,FreeMsg Hey there darling it's been 3 week's n...,NaN,customersqueries@netvision.uk
8,spam,WINNER!! As a valued network customer you have...,09061701461,NaN
9,spam,Had your mobile 11 months or more? U R entitle...,08002986030,NaN
11,spam,"SIX chances to win CASH! From 100 to 20,000 po...",87575,NaN

In [56]:
spam['WesbiteName'] = spam['Message'].str.extractall(wesbite_pattern).reset_index(drop=True)[0]
spam['MoneyAmount'] = spam['Message'].str.extractall(money_pattern).reset_index(drop=True)[0]

spam

C:\Users\zacha\AppData\Local\Temp\ipykernel_25220\804634859.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  spam['WesbiteName'] = spam['Message'].str.extractall(wesbite_pattern).reset_index(drop=True)[0]
C:\Users\zacha\AppData\Local\Temp\ipykernel_25220\804634859.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  spam['MoneyAmount'] = spam['Message'].str.extractall(money_pattern).reset_index(drop=True)[0]

,Label,Message,Number,Email,WesbiteName,MoneyAmount
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,87121,info@txt82228.co,www.areyouunique.co,"£100,000"
5,spam,FreeMsg Hey there darling it's been 3 week's n...,NaN,customersqueries@netvision.uk,www.100percent-real.com,£1.50
8,spam,WINNER!! As a valued network customer you have...,09061701461,NaN,www.txttowin.co,£1000
9,spam,Had your mobile 11 months or more? U R entitle...,08002986030,NaN,www.07781482378.com,£1000
11,spam,"SIX chances to win CASH! From 100 to 20,000 po...",87575,NaN,www.Applausestore.com,£1.50
...,...,...,...,...,...,...
5537,spam,Want explicit SEX in 30 secs? Ring 02073162414...,02073162414,NaN,NaN,NaN
5540,spam,ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...,NaN,NaN,NaN,NaN
5547,spam,Had your contract mobile 11 Mnths? Latest Moto...,NaN,NaN,NaN,NaN
5566,spam,REMINDER FROM O2: To get 2.50 pounds free call...,NaN,NaN,NaN,NaN
5567,spam,This is the 2nd time we have tried 2 contact u...,087187272008,NaN,NaN,NaN

In [58]:
spam['Message']

2       Free entry in 2 a wkly comp to win FA Cup fina...
5       FreeMsg Hey there darling it's been 3 week's n...
8       WINNER!! As a valued network customer you have...
9       Had your mobile 11 months or more? U R entitle...
11      SIX chances to win CASH! From 100 to 20,000 po...
                              ...
5537    Want explicit SEX in 30 secs? Ring 02073162414...
5540    ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...
5547    Had your contract mobile 11 Mnths? Latest Moto...
5566    REMINDER FROM O2: To get 2.50 pounds free call...
5567    This is the 2nd time we have tried 2 contact u...
Name: Message, Length: 747, dtype: object